<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viwport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>Angular | TodoMVC</title>
</head>
<body ng-app="todomvc">
    <script src="node_modules/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <div ng-controller="TodoMvcCtrl">
        <h1>{{ message }}</h1>
    </div>
</body>
</html>